
html, body {
    height: 90%;
    margin: 0;
}
body {
    font-family: sans-serif;
}
core-scaffold {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

core-scaffold::shadow core-toolbar {
  background: #EC8C50;
  color: white;
}

core-scaffold::shadow core-header-panel {
  background: #FFF;
  color: white;
}
#core_toolbar {
    color: rgb(255, 255, 255);
    background-color: #FF9857;
}
.imageContainer {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    margin: 2%;
    background-color: rgb(255, 255, 255);
    text-align: left;
}
paper-fab {
    position: absolute;
    right: 20px; 
    bottom: 20px;
}

canvas {
    border: 1px solid #ccc;
    background-color: white;
}

body { font-family: sans-serif; }

.draggable {
  width: 140px;
  height: 140px;
  background: #F90;
  border-radius: 10px;
}
.draggable.is-pointer-down {
  background: #09F;
}
.draggable.is-dragging { opacity: 0.7; }

.clip{
    position: absolute
    top: 20px;
}