<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Deal Mining</name>
    <description>
        Deal Mining is an app that empowers consumers and expands the reach of advertisers by providing a tinder-like interface for consumers to view and save coupons. Using the power of machine learning, users are given highly personalized data that only gets better and better the more they save. It allows you to have the ability to save these coupons, or throw them away.
    </description>
    <preference name="Fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <author email="dharness@uwo.ca" href="http://cordova.io">
        Dylan Harness, Morgan Moskalyk, Joe Gaebel, Casey Doyle
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
